.git
.gitignore
.github

.venv
.env

__pycache__
*.pyc
*.pyo
*.egg-info

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov/
coverage.xml

tests/

dist
build

*.md
!requirements*.txt

uv.lock
assets
src/vector_db
src/experiments
